a {
  color: inherit;
  text-decoration: none;
}

.notion_page_body {
  max-width: 700px;
  margin: auto;
}

.notion_heading_1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

.notion_heading_2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

.notion_heading_3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

.notion_paragraph {
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1.5rem;
  font-size: 1rem;
}

.notion_divider {
  border: 0;
  border-top: 1px solid #eaecef;
  margin: 2rem 0;
}

.notion_column_list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -1rem;
}

.notion_column {
  flex: 1 1 0;
  padding: 0 1rem;
}

.notion_bulleted_list_container {
  margin-left: 1rem;
}

.notion_bulleted_list_item {
  list-style-type: circle;
}

.notion_numbered_list_container {
  margin-left: 1rem;
}

.notion_numbered_list_item {
  list-style-type: decimal;
}

.notion_to_do_container {
  display: flex;
  align-items: center;
}

.notion_to_do {
  margin-right: 0.5rem;
}

.notion_caption {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1.5rem;
  color: #6e7681;
}

.notion_callout {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #eaecef;
  background-color: #f9fafb;
  margin: 0 0 1.5rem;
}

.notion_table,
.notion_table_row,
.notion_table_cell {
  border: 1px solid;
}

.notion_table_cell {
  padding: 0.5rem;
}

.notion_table_header {
  font-weight: 700;
  background-color: #f9fafb;
}
